body
{
	background-color: #231F20;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#logo
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	width: 600px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
#clock
{
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: right;
}
.rectangle
{
	width: 960px;
	margin: 20px;
	text-align: center;
}
.square
{
	float: left;
	width: 500px;
	height: 500px;
}
.tile1
{
	float: left;
	background-color: #0DB8D7;
	margin: 10px;
	width: 230px;
	height: 142px;
	text-align: center;
}
.tile1:hover
{
	background-color: #0CA7C6;
	cursor: pointer;
}
.tile2
{
	float: left;
	background-color: #6D6E71;
	margin: 10px;
	width: 230px;
	height: 142px;
	text-align: center;
}
.tile2:hover
{
	background-color: #5C5D60;
	cursor: pointer;
}
.tile3
{
	float: left;
	background-color: #89D405;
	margin: 10px;
	width: 230px;
	height: 142px;
	text-align: center;
}
.tile3:hover
{
	background-color: #78C304;
	cursor: pointer;
}
.tile4
{
	
	background-color: #F6522E;
	margin: 10px;
	width: 430px;
	height: 92px;
	text-align: center;
	font-weight: 700;
	padding: 25px;
	line-height: 120%;
}
.tile5
{
	background-color: #6D6E71;
	margin: 10px;
	width: 440px;
	height: 264px;
	padding:20px;
	text-align: justify;
}
.yt
{
	float: left;
	background-color: #d94348;
	margin: 10px;
	width: 105px;
	height: 142px;
}
.yt:hover
{
	background-color: #C83237;
	cursor: pointer;
}
.fb
{
	float: left;
	background-color: #4668b3;
	margin: 10px;
	width: 105px;
	height: 142px;
}
.fb:hover
{
	background-color: #3557A2;
	cursor: pointer;
}
.gl
{
	float: left;
	background-color: #d95333;
	margin: 10px;
	width: 105px;
	height: 142px;
}
.gl:hover
{
	background-color: #C84222;
	cursor: pointer;
}
.tw
{
	float: left;
	background-color: #3095d3;
	margin: 10px;
	width: 105px;
	height: 142px;
}
.tw:hover
{
	background-color: #2084C2;
	cursor: pointer;
}

a.tilelink
{
	color: #ffffff;
	text-decoration: none;
}